[project]
name = "000-python-boiletplate"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = []

[dependency-groups]
dev = [
  "watchfiles>=1.0.0",
  "ruff>=0.14.13"
]
